.th{
    background-color: #04a96d;
}
.td-button{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    .bt{
        background-color: #ee9f4f;
        border: 1px solid #ee9f4f;
        .edit{
            color: white ;
        }
    }
    .bt-2{
        background-color: red;
        border: 1px solid red;
    }
}