* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    .box-ul {
        background-color: pink;
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 30px;
        justify-content: space-between;

        ul li {
            list-style: none;
            line-height: 50px;
        }

        .box-1 {
            display: flex;
            margin: 0;
            padding: 0;
            color: white;
            align-items: center;
            position: relative;

            &:hover .menu-1 {
                display: block;

                &:hover .menu-2 {
                    display: block;
                }
            }



            .menu-1 {
                display: none;
                position: absolute;
                top: 50px;
                left: -30px;


                li {
                    cursor: pointer;
                    color: black;
                    width: 250px;
                    padding-left: 10px;
                    background-color: gold;
                    display: block;
                    border: 1px solid gold;

                    &:hover {
                        background-color: white;
                        border: 1px solid palevioletred;
                    }

                    &:hover ::after {
                        content: "";
                        cursor: pointer;
                        width: 50px;
                        height: 20px;
                        position: absolute;
                        top: -10px;
                        left: -20px;
                    }
                }

                .menu-2 {
                    display: none;
                    position: absolute;
                    top: 50px;
                    left: 130px;

                    li {
                        a {
                            color: black;
                            display: block;
                            text-decoration: none;

                            &:hover {
                                background-color: white;
                            }
                        }

                    }




                }
            }
        }

        .box-1 li:first-child {
            margin-right: 10px;
        }

        .box-2 {
            margin: 0;
            color: white;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
}